.linear-layout {
  display: flex;

  &.flex-horizontal {
    flex-direction: row;

    &.flex-reverse {
      flex-direction: row-reverse;
    }
  }

  &.flex-vertical {
    flex-direction: column;

    &.flex-reverse {
      flex-direction: column-reverse;
    }
  }

  &.flex-start {
    justify-content: flex-start;
  }

  &.flex-center {
    justify-content: center;
  }

  &.flex-end {
    justify-content: flex-end;
  }
}

.flex-right,
.flex-left.flex-reverse {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label {
    text-align: right;
  }
}

.flex-left,
.flex-right.flex-reverse {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label {
    text-align: left;
  }
}