@import (reference) "../../../node_modules/less-mixins/mixins";
@import (reference) "../variables/index";

.formTheme(@statusTextColor, @errorColor) {
  .form {
    .label {
      color: @statusTextColor;
    }

    .input-container.error {
      .input[type=text],
      .input[type=date],
      .input[type=email],
      .input[type=number],
      .input[type=password] {
        border-bottom-color: @errorColor;
        .placeholder(@errorColor);
      }

      .label {
        color: @errorColor;
      }
    }
  }
}