@import (reference) "../../../node_modules/less-mixins/mixins";
@import (reference) "../variables/index";

.viewportTheme(@primaryColor, @secondaryColor, @tertiaryColor, @textColor, @shadowColor) {
  body {
    background: lighten(@primaryColor, 10%);
  }

  * {
    color: @textColor;
    line-height: 1.4em;
  }
}