@import (reference) "themes/index";

@primaryColor: #dfdfdf;
@secondaryColor: #222222;
@tertiaryColor: #6a86bb;
@headerColor: #303030;
@boxColor: #f3c802;
@highlight: #dddd88;
@danger: #e45735;

.viewportTheme(@boxColor, @primaryColor);
.navigationTheme(@headerColor, @boxColor);
.inputTheme(@primaryColor, @highlight);
.formTheme(@highlight, @danger);
.buttonTheme(@tertiaryColor, @secondaryColor);
.tableContainerTheme(@headerColor, @tertiaryColor, @secondaryColor);
.pageLinkTheme(@tertiaryColor, @highlight);
.boxTheme(@secondaryColor);