@import (reference) "themes/index";

@primaryColor: #263238;
@secondaryColor: #37474F;
@tertiaryColor: #455A64;
@textColor: #FFFFFF;
@shadowColor: #000000;

.viewportTheme(@primaryColor, @secondaryColor, @tertiaryColor, @textColor, @shadowColor);
.navigationTheme(@primaryColor, @secondaryColor, @tertiaryColor, @textColor, @shadowColor);
.textContentTheme(@primaryColor, @secondaryColor, @tertiaryColor, @textColor, @shadowColor);
.inputTheme(@primaryColor, @secondaryColor, @tertiaryColor, @textColor, @shadowColor);
.formTheme(@primaryColor, @secondaryColor, @tertiaryColor, @textColor, @shadowColor);
.buttonTheme(@primaryColor, @secondaryColor, @tertiaryColor, @textColor, @shadowColor);
.tableContainerTheme(@primaryColor, @secondaryColor, @tertiaryColor, @textColor, @shadowColor);