@import (reference) "themes/index";

@primaryColor: #263238;
@secondaryColor: #37474F;
@tertiaryColor: #CFD8DC;

.viewportTheme(@primaryColor, @secondaryColor, @tertiaryColor);
.navigationTheme(@primaryColor, @secondaryColor, @tertiaryColor);