@import (reference) "../../../node_modules/less-mixins/mixins";
@import (reference) "../variables/page";
@import (reference) "../variables/index";

.viewport > .navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: @navigationHeight;
  z-index: 1;

  & > .layout {
    position: static;
    width: 100%;
    max-width: @desktopMaxWidth;
    margin: auto;
    padding: 0;
  }

  a,
  label {
    display: block;
    height: @navigationHeight;
    line-height: @navigationHeight - 2 * @navigationLinkPadding;
    padding: @navigationLinkPadding;
    .box-sizing(border-box);
    text-decoration: none;
    text-align: center;
  }
}

.button.navigation-element {
  display: block;
  position: absolute;
  right: @navigationButtonRight;
  top: (@navigationHeight - 5 * @navigationButtonTick) / 2;
  width: @navigationButtonHeight;
  padding: 0 0 @navigationButtonTick 0;
  .box-sizing(border-box);
  background: transparent;
  border: transparent;
  cursor: pointer;
  outline: none;

  @media screen and (min-width: @tabletMaxWidth) {
    display: none;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: @navigationButtonTick;
    margin-top: @navigationButtonTick;
  }
}

.list.navigation-element {
  display: block;
  padding: 0;

  & > li {
    list-style: none;
    display: block;
    float: left;
    margin-right: @navigationLinkSpace;

    & > .list {
      height: @navigationHeight;
      padding: 0;
      overflow: hidden;

      &:hover {
        height: auto;
      }

      & > li {
        list-style: none;
      }
    }
  }

  @media screen and (max-width: @tabletMaxWidth) {
    top: 0;
    left: 0;
    right: 0;
    width: @navigationTransition;
    height: 100vh;
    overflow-y: scroll;
    float: left;
    .transform(translateX(100% / @navigationTransition * 100%));

    .list,
    li,
    a,
    label {
      width: 100%;
    }

    li {
      border-bottom: 1px solid;
    }

    & > li > .list {
      height: auto;

      li:last-child {
        border: none;
      }
    }
  }
}