@import (reference) "../variables/page";
@import "../variables/index";

.page {
  position: relative;
  width: 100%;
  max-width: @desktopMaxWidth;
  margin: @navigationHeight + @pageMarginTop auto @pageMarginBottom auto;
  padding: @pagePadding;
  .box-sizing(border-box);
}