@import (reference) "../variables/page";
@import "../variables/index";

.page {
  position: relative;
  width: 100%;
  max-width: @desktopMaxWidth;
  padding: @pagePadding;
  padding-top: @navigationHeight + @pageMarginTop;
  .box-sizing(border-box);
}